* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100%;
}

h1 {
    color: blue!important;
}

.text__wrapper {
    font-size: 25px;
    color: #333;
}

#text {
    font-size: 50px!important;
}

#block__text p {
    background-color: green;
    width: 200px;
    height: 100px;
}


.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-block {
    background-color: purple;
}
.footer-col {
    background-color: green;
}

table {
    border: 2px solid #000
}

th {
    padding: 10px;
    border: 1px solid #000
}
td {
    border:1px dotted #333;
    padding: 10px;
}

/*ul li{
    list-style: none;
}*/

nav ul {
    display: flex;
    gap: 10px
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 22px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: brown;
    height:10vh;
    align-items: center;
}

main {
    display: flex;
    height: 80vh;
}

aside {
    width: 25%;
    background-color: blueviolet;
}

section {
    width: 75%;
    background-color: violet;
}

footer {
    height: 10vh;
    background-color: aqua;
}

.container audio {
    font-family: FontAwesome;
}